/* Varidable */
@media (min-width: 1200px) {
  .container {
    max-width: 980px;
  }
}
body {
  color: rgba(0, 0, 0, 0.8);
}

ul {
  list-style: none;
}

a:hover {
  opacity: 0.8;
}
a:focus {
  opacity: 0.8;
}

h1 {
  font-size: 30px;
  margin-bottom: 0;
  color: #2176bd;
}

h2 {
  color: rgba(0, 0, 0, 0.8);
}

.content {
  min-height: 540px;
}
.content.border {
  background: #fff;
  box-shadow: 1px 1px 9px #5dabeb;
  border-radius: 5px;
  padding: 30px 20px;
}
.content.border input {
  outline: none;
}
.content.border textarea {
  width: 100%;
  resize: none;
}
.content.border input[type=file] {
  background-color: transparent;
  border: none;
  padding: 0;
}

form label {
  font-size: 16px;
  font-weight: 700;
}
form .btn-blk {
  width: 200px;
  margin: 25px auto 0;
}
form .btn-blk .btn {
  padding: 10px 20px;
}

.navbar-light .navbar-nav .nav-link {
  color: #2176bd;
  font-weight: 700;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #2176bd;
  font-weight: 700;
}
.navbar-light .navbar-nav .nav-link:focus {
  color: #2176bd;
  font-weight: 700;
}

.dropdown-item {
  color: #2176bd;
}

.table {
  background-color: #fff;
}
.table.post-confirm-tbl td:first-child {
  max-width: 200px;
  width: 30%;
}
.table.list-tbl {
  width: 908px;
}
.table.list-tbl th {
  text-align: center;
  word-break: break-all;
  vertical-align: middle;
}
.table.list-tbl th:nth-child(1) {
  width: 165px;
}
.table.list-tbl th:nth-child(2) {
  width: 260px;
}
.table.list-tbl th:nth-child(3) {
  width: 180px;
}
.table.list-tbl th:nth-child(4) {
  width: 130px;
}
.table.list-tbl th:nth-child(5) {
  width: 140px;
}
.table.list-tbl td {
  word-break: break-all;
  vertical-align: middle;
}
.table.list-tbl td:nth-child(1) {
  text-align: center;
}
.table.user-list-tbl {
  width: 908px;
}
.table.user-list-tbl th {
  text-align: center;
  word-break: break-all;
  vertical-align: middle;
}
.table.user-list-tbl th:nth-child(1) {
  width: 150px;
}
.table.user-list-tbl th:nth-child(2) {
  width: 200px;
}
.table.user-list-tbl th:nth-child(3) {
  width: 140px;
}
.table.user-list-tbl th:nth-child(4) {
  width: 140px;
}
.table.user-list-tbl th:nth-child(5) {
  width: 120px;
}
.table.user-list-tbl th:nth-child(6) {
  width: 120px;
}
.table.user-list-tbl th:nth-child(7) {
  width: 100px;
}
.table.user-list-tbl td {
  word-break: break-all;
  vertical-align: middle;
}
.table.user-confirm-tbl td:first-child {
  max-width: 200px;
  width: 30%;
}

.card {
  max-width: 600px;
  margin: 0 auto;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.status {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.status:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .status {
  background-color: #2196F3;
}
input:checked + .status:before {
  transform: translateX(26px);
}
input:focus + .status {
  box-shadow: 0 0 1px #2196F3;
}

.status.round {
  border-radius: 34px;
}
.status.round:before {
  border-radius: 50%;
}

.table.table-borderless td {
  vertical-align: top;
}
.table.table-borderless td:first-child {
  width: 150px;
}

.navbar-collapse {
  flex-grow: inherit;
}

/* Footer Css */
footer {
  background-color: #5dabeb;
}
footer .ft-logo {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}
footer .ft-logo:hover {
  text-decoration: none;
}
footer .footer-copyright {
  color: #fff;
}

@media (max-width: 768px) {
  form.user-confirm-form.mx-5 {
    margin: 0 !important;
  }
}
.pagination {
  justify-content: center;
}

.modal-content {
  overflow-y: scroll !important;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px;
    margin: 1.75rem auto;
  }
}
button.nav-link {
  background: none;
  border: none;
  padding: 0 !important;
}